
.line-1 {
    height: 0.2px;
    background: black;
    margin: 30px 0 10px 0px;
}

.custom-swal-container {
    padding: 0;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: .3;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: .3;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: .3;
}
