
.line-1 {
    height: 0.2px;
    background: black;
    margin: 30px 0 10px 0px;
}

.custom-swal-container {
    padding: 0;
}

#welcome {
    z-index: 9999;
    position: fixed;
    margin: 0;
    padding: 10px;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    opacity: 1;
    transition: .5s ease-in-out;
}

#welcomeWords {
    opacity: 1;
    transition: .5s ease-in-out;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: .3;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: .3;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: .3;
}
